* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  align-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  height: 15vh;
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 115px;
  padding-left: 100px;
  list-style: none;
}

li {
  padding: 8px 18px;
  color: white;
  border: none;
}

#home {
  background-color: white;
  color: black;
}

.section-1 {
  background-image: url(./img1_css_hw_2.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.section2 {
  align-content: center;
}

.sect-2-img {
  height: 450px;
  width: 400px;
  margin: 20px;
}

.section-3 {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: start;
  color: white;
  height: 500px;
}

.sect-3-img {
  height: 400px;
  width: 600px;
  margin-left: 20px;
}

p {
  position: relative;
  top: 20px;
  height: 25%;
  width: 45%;
  margin-left: 40px;
}
